:root {
  --background_light: #ebebeb;
  --white: #fff;
  --dark_blue: #0b0a2e;
  --typography_color: #697586;
  --yellow: ##ffb627;
  --blue: #3366cc;
  --red: #e41414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Book", Roboto, sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--background_light);
}

h1 {
  color: #333;
}
main {
  height: 100vh;
  background-color: var(--background_light);
  display: flex;
  justify-content: center;
  align-items: center;
}

#simulation-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

#controls {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
input[type="number"] {
  width: 50px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
}
button:hover {
  background-color: #45a049;
}

.hot {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}